<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
<title>gutsheet</title>
<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
<link rel="stylesheet" href="<% request.uri_base %>/css/style.css" />

</head>
<body>
    <div class="container">
        <% content %>
        <div id="footer">
            <p>Created by <a href="http://twitter.com/lukec">@lukec</a> | Powered by <a href="http://perldancer.org/">Dancer</a></p>
        </div>
    </div>
</body>
</html>
